NUXT_PUBLIC_TITLE = "Example's Homepage"

NUXT_PUBLIC_OWNER_EMAIL = "example@example.com"
NUXT_PUBLIC_OWNER_NAME = "ExampleName"
NUXT_PUBLIC_OWNER_FORMER_NAME = "ExampleFormer"
NUXT_PUBLIC_WELCOME = "Welcome to Example's homepage"
NUXT_PUBLIC_DESCRIPTION = " Example's Homepage"
NUXT_PUBLIC_KEYWORDS = ["homepage"]

NUXT_PUBLIC_LINKS = {"blog":"https://blog.example.com","forum":"https://forum.example.com"}
NUXT_PUBLIC_SOCIALS = {"github":{"link":"https://github.com/","icon":"fa-brands fa-github"},"bilibili":{"link":"https://www.bilibili.com/","icon":"fa-brands fa-bilibili"},"email":{"link":"mailto:example@example.com","icon":"fa-solid fa-envelope"}}

NUXT_PUBLIC_META = [{"name":"test","content","a test meta"}]
NUXT_PUBLIC_LANG = "zh-CN"

NUXT_PUBLIC_FOOTER = "an example footer"

NUXT_HITOKOTO_URL = "https://v1.hitokoto.cn"
NUXT_GRAVATAR_URL = "https://gravatar.com"
NUXT_AVATAR_CACHE_TIME = 3600000
NUXT_AVATAR_PROXY = false
NUXT_IMAGE_HOSTING = false
NUXT_IMAGE_LINKS = []